<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>ForgotPassword</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/icheck/skins/flat/aero.css"/>
    <!-- end: Css -->

    <link rel="shortcut icon" href="/resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body id="mimin" class="form-signin-wrapper">
<div class="container">
    <form class="form-signin" id="forgotPassForm" th:action="@{/forgotpass}" method="post">
        <div class="panel periodic-login">
            <div class="panel-body text-center">
                <h1 class="atomic-symbol">Ml</h1>
                <p class="element-name">My luggage</p>

                <i class="icons icon-arrow-down"></i>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="email" class="form-text" id="email" name="email" th:required="required"/>
                    <span class="bar"></span>
                    <label>Email</label>
                    <p>Input your email to reset your password.</p>
                </div>
                <input type="submit" class="btn col-md-12" value="Reset"/>
            </div>
            <div class="text-center" style="padding:5px;">
                <a th:href="login">SignIn</a> |
                <a th:href="registration">Signup</a>
            </div>
        </div>
    </form>
</div>
<!-- end: Content -->

<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/main.js"></script>
<script src="/resources/js/plugins/jquery.validate.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#forgotPassForm").validate({
            errorElement: "em",
            errorPlacement: function (error, element) {
                $(element.parent("div").addClass("form-animate-error"));
                error.appendTo(element.parent("div"));
            },
            success: function (label) {
                $(label.parent("div").removeClass("form-animate-error"));
            },
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                email: "Please enter a valid email address"
            }
        });

    });
</script>
<!-- end: Javascript -->
</body>
</html>