<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>


  <title>Login</title>

  <!-- start: Css -->
  <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css" />

  <!-- plugins -->
  <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/resources/css/plugins/simple-line-icons.css"/>
  <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>
  <link rel="stylesheet" type="text/css" href="/resources/css/plugins/icheck/skins/flat/aero.css"/>
  <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
  <!-- end: Css -->

  <link rel="shortcut icon" href="resources/img/logomi.png" />
   <!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body id="mimin" class="dashboard form-signin-wrapper">

      <div class="container">

          <div th:if="${param.error != null}" class="alert alert-danger" style="text-align: center">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              <p><strong>Error!</strong> Cannot add or update data in the database. Verify data and try again. </p>
          </div>


        <form class="form-signin" th:action="@{/login}" method="post">
          <div class="panel periodic-login">
              <div class="panel-body text-center">
                  <h1 class="atomic-symbol">Ml</h1>
                  <p class="element-name">My luggage</p>
                  <i class="icons icon-arrow-down"></i>

                  <div class="form-group form-animate-text" style="margin-top:20px !important;">
                    <input name="username" type="text" class="form-text" th:required="required" />
                    <span class="bar"></span>
                    <label>Username | Email</label>
                  </div>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input name="password" type="password" class="form-text"  th:required="required" />
                    <span class="bar"></span>
                    <label>Password</label>
                  </div>
                  <input type="submit" class="btn col-md-12" value="SignIn"/>
              </div>
                <div class="text-center" style="padding:5px;">
                    <a th:href="forgotPassword">Forgot Password </a>
                    <a th:href="registration">| Signup</a>
                </div>
          </div>
        </form>

      </div>

      <div th:include="menu/menu :: mobileMenu"></div>
      <!-- end: Content -->

      <!-- start: Javascript -->
      <script src="/resources/js/jquery.min.js"></script>
      <script src="/resources/js/jquery.ui.min.js"></script>
      <script src="/resources/js/bootstrap.min.js"></script>
      <script src="/resources/js/plugins/jquery.nicescroll.js"></script>
      <script src="/resources/js/plugins/moment.min.js"></script>
      <script src="/resources/js/plugins/icheck.min.js"></script>
      <script src="/resources/js/main.js"></script>

      <script type="text/javascript">
       $(document).ready(function(){
         $('input').iCheck({
          checkboxClass: 'icheckbox_flat-aero',
          radioClass: 'iradio_flat-aero'
        });
       });
     </script>
     <!-- end: Javascript -->
   </body>
   </html>