<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/icheck/skins/flat/aero.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <!-- end: Css -->

    <link rel="shortcut icon" href="/resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="mimin" class="dashboard form-signin-wrapper">

<div class="container">

    <div th:if="${isBusyUsernameOrEmailError} == true" class="alert alert-danger" style="text-align: center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <p><strong>Error!</strong> The username or email is busy. Please change it. </p>
    </div>


    <form class="form-signin" id="signupForm" th:action="@{/registration}" th:object="${user}" method="post">
        <div class="panel periodic-login">
            <div class="panel-body text-center">
                <h1 class="atomic-symbol">Ml</h1>
                <p class="element-name">My luggage</p>

                <i class="icons icon-arrow-down"></i>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text" id="validate_username" name="validate_username"
                           th:field="*{username}" required="required"/>
                    <span class="bar"></span>
                    <label>Username</label>
                </div>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="email" class="form-text" id="validate_email" name="validate_email"
                           th:field="*{email}" th:required="required"/>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="password" class="form-text" id="validate_password" name="validate_password"
                           th:field="*{password}" th:required="required"/>
                    <span class="bar"></span>
                    <label>Password</label>
                </div>

                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="password" class="form-text" id="validate_confirm_password"
                           name="validate_confirm_password" th:required="required"/>
                    <span class="bar"></span>
                    <label>Confirm Password</label>
                </div>
                <input type="submit" class="btn col-md-12" style="margin-top:40px !important;" value="SignUp"/>
            </div>
            <div class="text-center" style="padding:5px;">
                <a th:href="login">Already have an account?</a>
            </div>
        </div>
    </form>
</div>
<!-- end: Content -->


<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>

<script src="/resources/js/plugins/moment.min.js"></script>
<script src="/resources/js/plugins/icheck.min.js"></script>
<script src="/resources/js/plugins/jquery.validate.min.js"></script>
<script src="/resources/js/main.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-aero',
            radioClass: 'iradio_flat-aero'
        });

        $("#signupForm").validate({
            errorElement: "em",
            errorPlacement: function (error, element) {
                $(element.parent("div").addClass("form-animate-error"));
                error.appendTo(element.parent("div"));
            },
            success: function (label) {
                $(label.parent("div").removeClass("form-animate-error"));
            },
            rules: {
                validate_username: {
                    required: true,
                    minlength: 2
                },
                validate_email: {
                    required: true,
                    email: true
                },
                validate_password: {
                    required: true,
                    minlength: 5
                },
                validate_confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#validate_password"
                }
            },
            messages: {
                validate_username: {
                    required: "Please enter a username",
                    minlength: "Your username must consist of at least 2 characters"
                },
                validate_email: {
                    required: "Please enter an email",
                    email: "Please enter a valid email address"
                },
                validate_password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                validate_confirm_password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Please enter the same password as above"
                }
            }
        });
    });


</script>
<!-- end: Javascript -->
</body>
</html>