<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Thing</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <!-- end: Css -->

    <link rel="shortcut icon" href="resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="mimin" class="dashboard boxed container padding-0">
<div th:include="menu/menu :: header"></div>
<div class="container-fluid mimin-wrapper bg-light-grey">
    <div th:include="menu/menu :: leftMenu"></div>

    <!-- start: Content -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">Thing</h3>
                    <p class="animated fadeInDown">
                        <a th:href="@{'/things'}">Things &nbsp;</a><span class="fa-angle-right fa"></span> add
                    </p>
                </div>
            </div>
        </div>
        <div th:if="${addComponentError} == true" class="alert alert-danger" style="text-align: center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span>
            </button>
            <p><strong>Error!</strong> Cannot add or update data in the database. Verify data and try again. </p>
        </div>

        <div class="col-md-12 top-20 padding-0">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading text-center"><h3>Add new thing</h3></div>

                    <div class="col-sm-12 ">
                        <form th:action="@{/addThing}" th:object="${thing}" method="post" th:autocomplete="off">

                            <table class="table table-striped">
                                <div class="form-group">
                                    <tbody>
                                    <input class="hidden" th:field="*{id}"/>
                                    <tr>
                                        <td style="width: 25%; padding-left: 5% !important;"><h4>Name:</h4></td>
                                        <td style="width: 75%;"><input class="form-control" th:field="*{name}"
                                                                       th:required="required"/></td>
                                    </tr>

                                    <tr>
                                        <td style="width: 25%;padding-left: 5% !important;"><h4>Activity:</h4></td>
                                        <td style="padding-top: 3% !important; ">
                                            <div class="form-group">
                                                <div class="form-animate-radio required" th:required="required">
                                                    <label class="radio" th:each="a : ${activities}">
                                                        <input type="radio" name="activity" th:text="${a.name}"
                                                               th:value="${a.id}" th:field="*{activity}"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;padding-left: 5% !important;"><h4>Season:</h4></td>
                                        <td style="padding-top: 3% !important; ">
                                            <div class="form-group">
                                                <div class="form-animate-radio required" th:required="required">
                                                    <label class="radio" th:each="s : ${seasons}">
                                                        <input type="radio" name="season" th:text="${s.name}"
                                                               th:value="${s.name}" th:field="*{season}"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;padding-left: 5% !important;"><h4>Category:</h4></td>
                                        <td style="padding-top: 3% !important; ">
                                            <div class="form-group">
                                                <div class="form-animate-radio required" th:required="required">
                                                    <label class="radio" th:each="c : ${categories}">
                                                        <input type="radio" name="category" th:text="${c.name}"
                                                               th:value="${c.id}" th:field="*{category}"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a th:href="@{/things}"><input class="btn btn-danger btn-3d"
                                                                           style="width: 100%; height: 40px; margin-top: 10px;"
                                                                           value="Cancel"/></a>
                                        </td>
                                        <td><input class="btn btn-primary btn-3d" type="submit"
                                                   style="width: 100%; height: 40px; margin-top: 10px;" value="Submit"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </div>
                            </table>


                        </form>
                    </div>
                    <div class="panel"></div>
                </div>
            </div>
        </div>


    </div>

</div>

<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="/resources/js/plugins/jquery.nicescroll.js"></script>
<script src="/resources/js/plugins/jquery.datatables.min.js"></script>
<script src="/resources/js/plugins/datatables.bootstrap.min.js"></script>
<script src="/resources/js/plugins/select2.full.min.js"></script>

<!-- custom -->
<script src="/resources/js/main.js"></script>
<script type="text/javascript">

    $(".select2-A").select2({
        placeholder: "Select",
        allowClear: true
    });


</script>
</body>
</html>