<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>NewLuggage</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>

    <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
    <!-- end: Css -->

    <link rel="shortcut icon" href="/resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="mimin" class="dashboard boxed container padding-0">
<div th:include="menu/menu :: header"></div>
<div class="container-fluid mimin-wrapper bg-light-grey">
    <div th:include="menu/menu :: leftMenu"></div>

    <!-- start: content -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h3 class="animated fadeInLeft">All activities</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 top-20 padding-0">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="panel box-v1">
                            <div class="panel-body text-center">
                                <a th:href="addActivity">
                                    <button class="btn btn-primary btn-3d btn-login" style="width: 80%; height: 45px;">
                                        <h4>Add activity</h4></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="panel-body">
                            <div class="responsive-table">
                                <table id="dataTable" class="table table-striped table-bordered text-center"
                                       width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="width: 15%"><span class="fa fa-sort"></span> Nr
                                        </th>
                                        <th class="text-center"><span class="fa fa-sort"></span> Name</th>
                                        <th class="text-center">Option</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="a: ${activities}">
                                        <td class="nr"></td>
                                        <td class="text-left" th:text="${a.name}"></td>
                                        <td style="width: 15%; font-size: large">
                                            <a th:href="@{activities/__${a.id}__/editActivity}">
                                                <span class="fa fa-edit"></span></a>
                                            <a th:href="@{activities/__${a.id}__/deleteActivity}">
                                                <span class="fa fa-trash"></span></a>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- end: content -->

    <div th:include="menu/menu :: mobileMenu"></div>
</div>


<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="/resources/js/plugins/moment.min.js"></script>
<script src="/resources/js/plugins/jquery.nicescroll.js"></script>
<script src="/resources/js/plugins/jquery.datatables.min.js"></script>
<script src="/resources/js/plugins/datatables.bootstrap.min.js"></script>

<!-- custom -->
<script src="/resources/js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

    var list = document.getElementsByClassName("nr");
    for (var i = 0; list.length >= i; i++) {
        list[i].innerHTML = i + 1;
    }
</script>
</body>
</html>