<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Home</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/bootstrap-material-datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/select2.min.css"/>
    <link href="/resources/css/style.css" rel="stylesheet"/>
    <!-- end: Css -->

    <link rel="shortcut icon" href="/resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="mimin" class="dashboard boxed container padding-0">
<div th:include="menu/menu :: header"></div>
<div class="container-fluid mimin-wrapper bg-light-grey">
    <div th:include="menu/menu :: leftMenu"></div>

    <!-- start: content -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h3 class="animated fadeInLeft">Edit travel</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 top-20 padding-0">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading text-center">
                        <h3><p th:text="${travel.name}"/></h3>
                    </div>
                    <form th:action="@{/myTravels/__${travel.id}__/editTravel}" th:object="${travel}" method="post">
                        <input class="hidden" th:field="*{id}"/>
                        <input class="hidden" th:field="*{user}"/>

                        <table class="table table-striped">
                            <div class="form-group">
                                <tbody>

                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Name:</h4></td>
                                    <td style="width: 75%;"><input class="form-control primary" th:field="*{name}"
                                                                   th:required="required" style="width: 45%"/></td>
                                </tr>
                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Date:</h4></td>


                                    <td  >
                                        <span th:if="${travel.startDate != null and travel.returnDate != null}">
                                            <p>Old value:</p>
                                            From &ensp; <span th:text="${travel.getFormatedStartDate()}"> </span>
                                            &ensp;to &ensp;<span th:text="${travel.getFormatedReturnDate()}"> </span>
                                        &ensp; Days: <span th:text="${travel.getDays()}"></span>
                                        <div class="panel"></div>
                                            </span>
                                        <div class="form-group form-animate-text">
                                            Select new:
                                            <input type="hidden" id="dateStart" class="form-control"
                                                   th:field="*{startDate}"/>
                                            <input type="hidden" id="dateReturn" class="form-control"
                                                   th:field="*{returnDate}"/>
                                            <input type="text" id="data" class="form-control" style="width: 45%"/>
                                        </div>

                                    </td>
                                </tr>


                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Country:</h4></td>

                                    <td>
                                        <select id="country" class="select2-A required" th:field="*{country}">
                                            <optgroup label="Your choice" th:if="${travel.places.size() != 0}">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.code.equals(travel.places[0].country.code)}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                            <optgroup label="Popular">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.code.equals('PL')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                    <option th:if="${c.code.equals('GB')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                    <option th:if="${c.code.equals('US')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                            <optgroup label="Europe">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.continent.code.equals('EU')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                            <optgroup label="Asia">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.continent.code.equals('AS')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                            <optgroup label="North America">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.continent.code.equals('NA')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                            <optgroup label="South America">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.continent.code.equals('SA')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                            <optgroup label="Africa">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.continent.code.equals('AF')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                            <optgroup label="Oceania">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.continent.code.equals('OC')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                            <optgroup label="Antarctica">
                                                <p th:each="c : ${countries}">
                                                    <option th:if="${c.continent.code.equals('AN')}"
                                                            th:value="${c.id}"
                                                            th:text="${c.name}"></option>
                                                </p>
                                            </optgroup>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>City:</h4></td>
                                    <td>


                                        <div class="col-sm-12">
                                            <p>Old value:</p>
                                            <div class="form-animate-checkbox" th:each="p : ${travel.places}">
                                                <div class="col-sm-4">
                                                    <label>
                                                        <input type="checkbox" class="checkbox"
                                                               th:text="${p.name}" th:value="${p.name}"
                                                               th:name="places" th:id="${p.id}" checked="checked"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="panel"></div>
                                        <p>Write new:</p>
                                    <div class="col-sm-12">
                                        <select id="city" class="select2-B" multiple="multiple" th:field="*{places}"
                                                style="width: 200px !important;">
                                        </select>
                                    </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Season:</h4>
                                    </td>
                                    <td style="padding-top: 3% !important; ">
                                        <div class="form-group">
                                            <div class="form-animate-radio required" th:required="required">
                                                <label class="radio" th:each="s : ${seasons}">
                                                        <span th:unless="${s.name.equals('Over seasonal')}">
                                                            <span th:unless="${travel.season != null and s.id.equals(travel.season.id)}">
                                                                 <input type="radio" name="season" th:text="${s.name}"
                                                                        th:value="${s.name}" th:name="season"
                                                                        th:id="season"/>
                                                                <span class="outer"><span class="inner"></span></span>
                                                            </span>
                                                            <span th:if="${travel.season != null and s.id.equals(travel.season.id)}">
                                                                 <input type="radio" name="season" th:text="${s.name}"
                                                                        th:value="${s.name}" th:name="season"
                                                                        th:id="season" checked="checked"/>
                                                                <span class="outer"><span class="inner"></span></span>
                                                            </span>


                                                        </span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Accommodation:</h4></td>
                                    <td style="padding-top: 3% !important; ">
                                        <div class="form-group">
                                            <div class="form-animate-radio">
                                                <label class="radio" th:each="a : ${accommodations}">

                                                    <span th:unless="${travel.accommodation != null and a.id.equals(travel.accommodation.id)}">
                                                         <input type="radio" th:text="${a.name}"
                                                                th:value="${a.id}" th:name="accommodation"
                                                                th:id="accommodation"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </span>
                                                    <span th:if="${travel.accommodation != null and a.id.equals(travel.accommodation.id)}">
                                                          <input type="radio" th:text="${a.name}"
                                                                 th:value="${a.id}" th:name="accommodation"
                                                                 th:id="accommodation" checked="checked"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </span>

                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Dining option:</h4></td>
                                    <td style="padding-top: 3% !important; ">
                                        <div class="form-group">
                                            <div class="form-animate-radio">
                                                <label class="radio" th:each="d : ${diningOptions}">
                                                     <span th:unless="${travel.diningOption != null and d.id.equals(travel.diningOption.id)}">
                                                         <input type="radio" th:text="${d.name}"
                                                                th:value="${d.id}" th:name="diningOption"
                                                                th:id="diningOption"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </span>
                                                    <span th:if="${travel.diningOption != null and d.id.equals(travel.diningOption.id)}">
                                                         <input type="radio" th:text="${d.name}"
                                                                th:value="${d.id}" th:name="diningOption"
                                                                th:id="diningOption" checked="checked"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Transport:</h4></td>
                                    <td style="padding-top: 3% !important; ">
                                        <div class="form-group">
                                            <div class="form-animate-checkbox" th:each="t : ${travel.transports}">
                                                <div class="col-sm-4">
                                                    <label>
                                                        <input type="checkbox" class="checkbox"
                                                               th:text="${t.name}" th:value="${t.id}"
                                                               th:name="transports" th:id="${t.id}" checked="checked"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-animate-checkbox" th:each="t : ${transports}">
                                                <div class="col-sm-4">
                                                    <label>
                                                        <input type="checkbox" class="checkbox"
                                                               th:text="${t.name}" th:value="${t.id}"
                                                               th:name="transports" th:id="${t.id}"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Activities:</h4></td>
                                    <td style="padding-top: 3% !important; ">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="form-animate-checkbox" th:each="a : ${travel.activities}">
                                                    <div class="col-sm-4">
                                                        <label>
                                                            <input type="checkbox" class="checkbox"
                                                                   th:text="${a.name}" th:value="${a.id}"
                                                                   th:name="activities" th:id="${a.id}"
                                                                   checked="checked"/>
                                                            <span class="outer"><span class="inner"></span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-animate-checkbox" th:each="a : ${activities}">
                                                    <div class="col-sm-4">
                                                        <label>
                                                            <input type="checkbox" class="checkbox"
                                                                   th:text="${a.name}" th:value="${a.id}"
                                                                   th:name="activities" th:id="${a.id}"/>
                                                            <span class="outer"><span class="inner"></span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a th:href="@{/myTravels}"><input class="btn btn-danger btn-3d"
                                                                          style="width: 100%; height: 40px; margin-top: 10px;"
                                                                          value="Cancel"/></a>
                                    </td>
                                    <td><input class="btn btn-primary btn-3d" type="submit"
                                               style="width: 100%; height: 40px; margin-top: 10px;"
                                               value="Submit"/></td>
                                </tr>
                                </tbody>
                            </div>
                        </table>
                    </form>
                    <div class="panel"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- end: content -->

    <div th:include="menu/menu :: mobileMenu"></div>
</div>


<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="/resources/js/plugins/moment.min.js"></script>
<script src="/resources/js/plugins/jquery.nicescroll.js"></script>
<script src="/resources/js/plugins/bootstrap-material-datetimepicker.js"></script>
<script src="/resources/js/plugins/daterangepicker.js"></script>

<script src="/resources/js/plugins/select2.full.min.js"></script>

<script src="/resources/js/main.js"></script>
<!-- custom -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.dateAnimate').bootstrapMaterialDatePicker({weekStart: 1, time: false, animation: true});

        updateConfig();

        function updateConfig() {
            $('#data').daterangepicker({
                "autoApply": true,
                "applyClass": "btn btn-primary",
                "locale": {
                    "firstDay": 1
                }
            }, function (start, end, label) {
                console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
                var dateStart = document.getElementById('dateStart');
                dateStart.setAttribute("value", start.format('DD/MM/YYYY'));
                document.getElementById('dateStart').innerHTML = dateStart;

                var dateReturn = document.getElementById('dateReturn');
                dateReturn.setAttribute("value", end.format('DD/MM/YYYY'));
                document.getElementById('dateReturn').innerHTML = dateReturn;
            });
        }


        $(".select2-A").select2({
            placeholder: "Select a country"
        });
        $(".select2-B").select2({
            placeholder: "Write new places",
            tags: true
        });

    });
    function insertCheck(id) {
        var a;
        a = a + 1;
    }


</script>
<!-- end: Javascript -->
</body>
</html>