<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Home</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/bootstrap-material-datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/daterangepicker.css"/>
    <link href="/resources/css/style.css" rel="stylesheet"/>
    <!-- end: Css -->

    <link rel="shortcut icon" href="/resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="mimin" class="dashboard boxed container padding-0">
<div th:include="menu/menu :: header"></div>
<div class="container-fluid mimin-wrapper bg-light-grey">
    <div th:include="menu/menu :: leftMenu"></div>

    <!-- start: content -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h3 class="animated fadeInLeft">travel</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 top-20 padding-0">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading text-center">
                        <h3><p th:text="${travel.name}"/></h3>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <table class="table table-striped">
                            <div class="form-group">
                                <tbody>
                                <tr>
                                    <td style="width: 25%;padding-left: 5% !important;"><h4>Name:</h4></td>
                                    <td style="width: 75%;">
                                        <h4><p th:text="${travel.name}"></p></h4>
                                    </td>
                                </tr>
                                <tr  th:if="${travel.startDate != null and travel.returnDate != null}">
                                    <td style="padding-left: 5% !important;"><h4>Date:</h4></td>
                                    <td>
                                        <h4>
                                            <p>Days: <span th:text="${travel.getDays()}"></span></p>
                                            From &ensp; <span th:text="${travel.getFormatedStartDate()}"> </span>
                                            &ensp;to &ensp;<span th:text="${travel.getFormatedReturnDate()}"> </span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr th:if="${travel.places != null and travel.places.size() > 0 }">
                                    <td style="padding-left: 5% !important;"><h4>Continent:</h4></td>
                                    <td>
                                        <h4>
                                            <span th:text="${travel.places[0].country.continent.name}"></span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr th:if="${travel.places != null and travel.places.size() > 0 }">
                                    <td style="padding-left: 5% !important;"><h4>Country:</h4></td>
                                    <td>
                                        <h4>
                                            <span th:text="${travel.places[0].country.name}"></span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr th:if="${travel.places != null and travel.places.size() > 0 } ">
                                    <td style="padding-left: 5% !important;"><h4>City:</h4></td>
                                    <td>
                                        <h4>
                                        <span th:each="p: ${travel.places}">
                                            <span th:text="${p.name}"> </span><span>&emsp;</span>
                                        </span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr th:if="${travel.season} != null">
                                    <td style="padding-left: 5% !important;"><h4>Season:</h4></td>
                                    <td>
                                        <h4 ><p th:text="${travel.season.name}"></p>
                                        </h4>
                                    </td>
                                </tr>
                                <tr th:if="${travel.accommodation} != null">
                                    <td style="padding-left: 5% !important;"><h4>Accommodation:</h4></td>
                                    <td>
                                        <h4 ><p
                                                th:text="${travel.accommodation.name}"></p></h4>
                                    </td>
                                </tr>
                                <tr th:if="${travel.diningOption} != null">
                                    <td style="padding-left: 5% !important;"><h4>Dining option:</h4></td>
                                    <td>
                                        <h4><p
                                                th:text="${travel.diningOption.name}"></p></h4>
                                    </td>
                                </tr>
                                <tr th:if="${travel.transports != null and travel.transports.size() > 0}">
                                    <td style="padding-left: 5% !important;"><h4>Transport:</h4></td>
                                    <td>
                                        <h4>
                                        <span th:each="t: ${travel.transports}">
                                            <span th:text="${t.name}"> </span><span>&emsp;</span>
                                        </span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr th:if="${travel.activities != null and travel.transports.size() > 0}">
                                    <td style="padding-left: 5% !important;"><h4>Activities:</h4></td>
                                    <td>
                                        <h4>
                                        <span th:each="a: ${travel.activities}">
                                            <span th:text="${a.name}"> </span><span>&emsp;</span>
                                        </span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{/myTravels}"><input class="btn btn-danger btn-3d"
                                                                          style="width: 100%; height: 40px; margin-top: 10px;"
                                                                          value="Cancel"/></a>
                                    </td>
                                    <td><a th:href="@{__${travel.id}__/editTravel}">
                                        <input class="btn btn-primary btn-3d"
                                               style="width: 100%; height: 40px; margin-top: 10px;"
                                               value="Edit travel"/></a></td>
                                </tr>
                                </tbody>
                            </div>
                        </table>
                    </div>
                    <div class="col-sm-1"></div>

                    <div class="panel"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- end: content -->

    <div th:include="menu/menu :: mobileMenu"></div>
</div>


<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="/resources/js/plugins/moment.min.js"></script>
<script src="/resources/js/plugins/jquery.nicescroll.js"></script>
<script src="/resources/js/plugins/bootstrap-material-datetimepicker.js"></script>
<script src="/resources/js/plugins/daterangepicker.js"></script>

<script src="/resources/js/main.js"></script>
<!-- custom -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.dateAnimate').bootstrapMaterialDatePicker({weekStart: 1, time: false, animation: true});

        updateConfig();

        function updateConfig() {
            $('#data').daterangepicker({
                "autoApply": true,
                "applyClass": "btn btn-primary",
                "locale": {
                    "firstDay": 1
                }
            }, function (start, end, label) {
                console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
                var dateStart = document.getElementById('dateStart');
                dateStart.setAttribute("value", start.format('DD/MM/YYYY'));
                document.getElementById('dateStart').innerHTML = dateStart;

                var dateReturn = document.getElementById('dateReturn');
                dateReturn.setAttribute("value", end.format('DD/MM/YYYY'));
                document.getElementById('dateReturn').innerHTML = dateReturn;
            });
        }

    });

</script>
<!-- end: Javascript -->
</body>
</html>