<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel='stylesheet' href='resources/css/bootstrap.min.css'/>
    <script type="text/javascript" src="resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="meta">
    <meta charset="utf-8"/>
    <meta name="description" content="My Luggage"/>
    <meta name="author" content="Wiktor Florencki"/>
    <meta name="keyword" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</div>


<div th:fragment="header">
    <!-- start: Header -->
    <nav class="navbar container navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <a th:href="@{'/'}" class="navbar-brand">
                    <b>MyLuggage</b>
                </a>

                <ul class="nav navbar-nav search-nav">
                    <li>
                        <div class="search">
                            <span class="fa fa-search icon-search" style="font-size:23px;"></span>
                            <div class="form-group form-animate-text">
                                <input type="text" class="form-text" th:required="text"/>
                                <span class="bar"></span>
                                <label class="label-search">Type anywhere to <b>Search</b> </label>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="user-name"><span th:text="${user.username}"></span></li>
                    <li class="dropdown avatar-dropdown">
                        <img th:src="@{'/userProfile/'+${user.id}}" class="img-circle avatar" alt="user name"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                        <ul class="dropdown-menu user-dropdown">
                            <li><a th:href="@{'/myTravels'}"><span class="fa fa-user"></span> My Travels</a></li>
                            <li><a href="#"><span class="fa fa-calendar"></span> cos</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="more">
                                <ul>
                                    <li><a th:href="@{'/editProfile'}"><span class="fa fa-cogs"></span></a></li>
                                    <li><a href="#"><span class="fa fa-calendar"></span></a></li>
                                    <li><a th:href="@{'/logout'}"><span class="fa fa-power-off "></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->
</div>


<div th:fragment="leftMenu">
    <!-- start:Left Menu -->
    <div id="left-menu">
        <div class="sub-left-menu scroll">
            <ul class="nav nav-list">
                <li>
                    <div class="left-bg"></div>
                </li>
                <li class="time">
                    <h1 class="animated fadeInLeft">21:00</h1>
                    <p class="animated fadeInRight">Sat,October 1st 2029</p>
                </li>

                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-suitcase"></span> Travel
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a th:href="@{'/addTravel'}">New travel</a></li>
                        <li><a th:href="@{'/myTravels'}">My travel</a></li>
                    </ul>
                </li>
                <li class="ripple"><a th:href="@{'/rating'}"><span class="fa fa-calendar-o"></span>Rating</a></li>

                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-user"></span> My profile
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a th:href="@{'/editProfile'}">Account</a></li>
                        <li><a th:href="@{'/logout'}">Logout</a></li>
                    </ul>
                </li>

                <li class="ripple"><a th:href="@{'/things'}"><span class="fa fa-map"></span>Thing</a></li>
                <li class="ripple"><a th:href="@{'/transports'}"><span class="fa fa-calendar-o"></span>Transport</a></li>
                <li class="ripple"><a th:href="@{'/seasons'}"><span class="fa fa-map"></span>Season</a></li>
                <li class="ripple"><a th:href="@{'/diningOptions'}"><span class="fa fa-map"></span>Dining option</a></li>
                <li class="ripple"><a th:href="@{'/accommodations'}"><span class="fa fa-map"></span>Accommodation</a></li>
                <li class="ripple"><a th:href="@{'/luggageTypes'}"><span class="fa fa-map"></span>Luggage type</a></li>
                <li class="ripple"><a th:href="@{'/owners'}"><span class="fa fa-map"></span>Luggage owner</a></li>
                <li class="ripple"><a th:href="@{'/categories'}"><span class="fa fa-map"></span>Category</a></li>
                <li class="ripple"><a th:href="@{'/subcategories'}"><span class="fa fa-map"></span>Subcategory</a></li>
                <li class="ripple"><a th:href="@{'/users'}"><span class="fa fa-map"></span>User</a></li>
                <li class="ripple"><a th:href="@{'/activities'}"><span class="fa fa-map"></span>Activity</a></li>


            </ul>
        </div>
    </div>
    <!-- end: Left Menu -->

    <!-- start: Mobile -->
    <div id="mimin-mobile" class="reverse" th:fragment="mobileMenu">
        <div class="mimin-mobile-menu-list">
            <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft">
                <ul class="nav nav-list">
                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa-home fa"></span>Dashboard
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="dashboard-v1.html">Dashboard v.1</a></li>
                            <li><a href="dashboard-v2.html">Dashboard v.2</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa-diamond fa"></span>Layout
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a th:href="@{'/newLuggage'}">New luggage</a></li>
                            <li><a href="boxed.html">Boxed</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa-area-chart fa"></span>Charts
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="chartjs.html">ChartJs</a></li>
                            <li><a href="morris.html">Morris</a></li>
                            <li><a href="flot.html">Flot</a></li>
                            <li><a href="sparkline.html">SparkLine</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-pencil-square"></span>Ui Elements
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="color.html">Color</a></li>
                            <li><a href="weather.html">Weather</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="media.html">Media</a></li>
                            <li><a href="panels.html">Panels Tabs</a></li>
                            <li><a href="notifications.html">Notifications Tooltip</a></li>
                            <li><a href="badges.html">Badges Label</a></li>
                            <li><a href="progress.html">Progress</a></li>
                            <li><a href="sliders.html">Sliders</a></li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="modal.html">Modals</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-check-square-o"></span>Forms
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="formelement.html">Form Element</a></li>
                            <li><a href="#">Wizard</a></li>
                            <li><a href="#">File Upload</a></li>
                            <li><a href="#">Text Editor</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-table"></span>Tables
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="datatables.html">Data Tables</a></li>
                            <li><a href="handsontable.html">handsontable</a></li>
                            <li><a href="tablestatic.html">Static</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a href="calendar.html">
                            <span class="fa fa-calendar-o"></span>Calendar
                        </a>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-envelope-o"></span>Mail
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="mail-box.html">Inbox</a></li>
                            <li><a href="compose-mail.html">Compose Mail</a></li>
                            <li><a href="view-mail.html">View Mail</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-file-code-o"></span>Pages
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="forgotpass.html">Forgot Password</a></li>
                            <li><a href="login.html">SignIn</a></li>
                            <li><a href="reg.html">SignUp</a></li>
                            <li><a href="article-v1.html">Article v1</a></li>
                            <li><a href="search-v1.html">Search Result v1</a></li>
                            <li><a href="productgrid.html">Product Grid</a></li>
                            <li><a href="profile-v1.html">Profile v1</a></li>
                            <li><a href="invoice-v1.html">Invoice v1</a></li>
                        </ul>
                    </li>
                    <li class="ripple"><a class="tree-toggle nav-header"><span class="fa "></span> MultiLevel <span
                            class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="view-mail.html">Level 1</a></li>
                            <li><a href="view-mail.html">Level 1</a></li>
                            <li class="ripple">
                                <a class="sub-tree-toggle nav-header">
                                    <span class="fa fa-envelope-o"></span> Level 1
                                    <span class="fa-angle-right fa right-arrow text-right"></span>
                                </a>
                                <ul class="nav nav-list sub-tree">
                                    <li><a href="mail-box.html">Level 2</a></li>
                                    <li><a href="compose-mail.html">Level 2</a></li>
                                    <li><a href="view-mail.html">Level 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="credits.html">Credits</a></li>
                </ul>
            </div>
        </div>
    </div>
    <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-primary">
        <span class="fa fa-bars"></span>
    </button>
    <!-- end: Mobile -->
</div>


</body>
</html>