<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel='stylesheet' href='resources/css/bootstrap.min.css'/>
    <script type="text/javascript" src="resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="meta">
    <meta charset="utf-8"/>
    <meta name="description" content="My Luggage"/>
    <meta name="author" content="Wiktor Florencki"/>
    <meta name="keyword" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</div>

<div th:fragment="header">
    <!-- start: Header -->
    <nav class="navbar container navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <a th:href="@{'/'}" class="navbar-brand">
                    <b>MyLuggage</b>
                </a>
                <ul th:if="${user} != null">
                    <ul class="nav navbar-nav navbar-right user-nav">
                        <li class="user-name"><span th:text="${user.username}"></span></li>
                        <li class="dropdown avatar-dropdown">
                            <img th:src="@{'/userAvatar/'+${user.id}}" class="img-circle avatar" alt="user name"
                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                            <ul class="dropdown-menu user-dropdown">
                                <li><a th:href="@{'/myTravels'}"><span class="fa fa-plane"></span> My Travels</a></li>
                                <li><a th:href="@{'/myLuggages'}"><span class="fa fa-suitcase"></span> My Luggage's</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="more">
                                    <ul>
                                        <li><a th:href="@{'/editProfile'}"><span class="fa fa-cogs"></span></a></li>
                                        <li><a href="#"><span class="fa fa-calendar"></span></a></li>
                                        <li><a th:href="@{'/logout'}"><span class="fa fa-power-off "></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>

            </div>
        </div>
    </nav>
    <!-- end: Header -->
</div>

<!-- start:Left Menu -->
<div th:fragment="leftMenu">
    <div id="left-menu">
        <div class="sub-left-menu scroll">
            <ul class="nav nav-list">
                <li>
                    <div class="left-bg"></div>
                </li>
                <li class="time">
                    <h1 class="animated fadeInLeft">21:00</h1>
                    <p class="animated fadeInRight">Sat,October 1st 2029</p>
                </li>
                <li th:if="${user} == null">
                <li class="ripple"><a th:href="@{'/addTravel'}"><span class="fa fa-plane"></span>New travel</a></li>
                <li class="ripple"><a th:href="@{'/registration'}"><span class="fa fa-user-plus"></span>Sign up</a></li>
                <li class="ripple"><a th:href="@{'/login'}"><span class="fa fa-user"></span>Sign in</a></li>
                </li>

                <li th:if="${user} != null">
                    <!--Begin: User left panel-->
                <li th:each="r : ${user.roles}" class="ripple" th:switch="${r.role}">
                <li th:case="'ROLE_USER'">
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-plane"></span> Travel
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a th:href="@{'/addTravel'}">New travel</a></li>
                        <li><a th:href="@{'/myTravels'}">My travels</a></li>
                    </ul>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-suitcase"></span> Luggage's
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a th:href="@{'/addTravel'}">New luggage</a></li>
                        <li><a th:href="@{'/myLuggages'}">My luggage's</a></li>
                    </ul>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-user"></span> My profile
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a th:href="@{'/editProfile'}">Account</a></li>
                        <li><a th:href="@{'/logout'}">Logout</a></li>
                    </ul>
                </li>
                </li>
                </li>
                <!--End: User left panel-->

                <!--Begin: Admin left panel-->

                <li th:each="r : ${user.roles}" class="ripple" th:switch="${r.role}">
                <li th:case="'ROLE_ADMIN'">
                <li class="ripple"><a> Administration tools <span
                        class="fa-angle-down fa right-arrow text-right"></span></a></li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-plane"></span> Travel
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a th:href="@{'/activities'}">Activities</a></li>
                        <li><a th:href="@{'/transports'}">Transports</a></li>
                        <li><a th:href="@{'/seasons'}">Seasons</a></li>
                        <li><a th:href="@{'/diningOptions'}">Dining options</a></li>
                        <li><a th:href="@{'/accommodations'}">Accommodations</a></li>
                    </ul>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-suitcase"></span> Luggage
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a th:href="@{'/luggageTypes'}">Types</a></li>
                    </ul>
                </li>
                <li class="ripple">
                    <a class="tree-toggle nav-header">
                        <span class="fa fa-thumb-tack"></span> Thing
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                    <ul class="nav nav-list tree">
                        <li><a th:href="@{'/things'}">Things</a></li>
                        <li><a th:href="@{'/categories'}">Categories</a></li>
                    </ul>
                </li>

                <li class="ripple"><a th:href="@{'/users'}"><span class="fa fa-users"></span>Users</a></li>
                </li>
                </li>
                <!--End: Admin left panel-->
                </li>

            </ul>
        </div>
    </div>
    <!-- end: Left Menu -->

    <!-- start: Mobile -->
    <div id="mimin-mobile" class="reverse" th:fragment="mobileMenu">
        <div class="mimin-mobile-menu-list">
            <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft">
                <ul class="nav nav-list">
                    <li th:if="${user} == null">
                    <li class="ripple"><a th:href="@{'/addTravel'}"><span class="fa fa-plane"></span>New travel</a></li>
                    <li class="ripple"><a th:href="@{'/registration'}"><span class="fa fa-user-plus"></span>Sign up</a></li>
                    <li class="ripple"><a th:href="@{'/login'}"><span class="fa fa-user"></span>Sign in</a></li>
                    </li>

                    <li th:if="${user} != null">
                        <!--Begin: User left panel-->
                    <li th:each="r : ${user.roles}" class="ripple" th:switch="${r.role}">
                    <li th:case="'ROLE_USER'">
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-plane"></span> Travel
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a th:href="@{'/addTravel'}">New travel</a></li>
                            <li><a th:href="@{'/myTravels'}">My travels</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-suitcase"></span> Luggage's
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a th:href="@{'/addTravel'}">New luggage</a></li>
                            <li><a th:href="@{'/myLuggages'}">My luggage's</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-user"></span> My profile
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a th:href="@{'/editProfile'}">Account</a></li>
                            <li><a th:href="@{'/logout'}">Logout</a></li>
                        </ul>
                    </li>
                    </li>
                    </li>
                    <!--End: User left panel-->

                    <!--Begin: Admin left panel-->

                    <li th:each="r : ${user.roles}" class="ripple" th:switch="${r.role}">
                    <li th:case="'ROLE_ADMIN'">
                    <li class="ripple"><a> Administration tools <span
                            class="fa-angle-down fa right-arrow text-right"></span></a></li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-plane"></span> Travel
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a th:href="@{'/activities'}">Activities</a></li>
                            <li><a th:href="@{'/transports'}">Transports</a></li>
                            <li><a th:href="@{'/seasons'}">Seasons</a></li>
                            <li><a th:href="@{'/diningOptions'}">Dining options</a></li>
                            <li><a th:href="@{'/accommodations'}">Accommodations</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-suitcase"></span> Luggage
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a th:href="@{'/luggages'}">Luggage's</a></li>
                            <li><a th:href="@{'/luggageTypes'}">Types</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-thumb-tack"></span> Thing
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a th:href="@{'/things'}">Things</a></li>
                            <li><a th:href="@{'/categories'}">Categories</a></li>
                        </ul>
                    </li>

                    <li class="ripple"><a th:href="@{'/users'}"><span class="fa fa-users"></span>Users</a></li>
                    </li>
                    </li>
                    <!--End: Admin left panel-->
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-primary">
        <span class="fa fa-bars"></span>
    </button>
</div>
<!-- end: Mobile -->

</body>
</html>



