<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Details</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>
    <link href="/resources/css/style.css" rel="stylesheet"/>
    <!-- end: Css -->

    <link rel="shortcut icon" href="/resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="mimin" class="dashboard boxed container padding-0">
<div th:include="menu/menu :: header"></div>
<div class="container-fluid mimin-wrapper bg-light-grey">
    <div th:include="menu/menu :: leftMenu"></div>

    <!-- start: content -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h3 class="animated fadeInLeft">luggage</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 top-20 padding-0">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading text-center">
                        <h3><p th:text="${luggage.name}"></p></h3>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <div class="form-group">
                                <tbody>
                                <tr>
                                    <td style="padding-left: 5% !important;"><h4>Travel:</h4></td>
                                    <td>
                                        <h4 th:if="${luggage.travel} != null">
                                            <a th:href="@{/myTravels/__${luggage.travel.id}__}"
                                               th:text="${luggage.travel.name}"> </a>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 5% !important;"><h4>Luggage type:</h4></td>
                                    <td>
                                        <h4 th:if="${luggage.type} != null">
                                            <span th:text="${luggage.type.name}"> </span><span>&emsp;</span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 5% !important;"><h4>Owner sex:</h4></td>
                                    <td>
                                        <h4 th:if="${luggage.category} != null">
                                            <span th:text="${luggage.category.name}"></span>
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <table id="table" class="table table-striped table-bordered text-center">
                                        <thead>
                                        <tr>
                                            <th class="text-center"><span class="fa fa-sort"></span> Thing</th>
                                            <th class="text-center"><span class="fa fa-sort"></span> Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <span th:if="${luggage.things} != null">

                                        <tr th:each="t: ${luggage.things}">
                                            <h4>
                                                <td th:text="${t.thing.name}"></td>
                                                <td style="width: 20%" th:text="${t.quantity}"></td>
                                            </h4>
                                        </tr>
                                            </span>
                                        </tbody>
                                    </table>
                                </tr>
                                </tbody>
                            </div>
                        </table>
                        <div class="col-sm-4">
                            <a th:href="@{/myLuggages}"><input class="btn btn-danger btn-3d"
                                                            style="width: 100%; height: 40px; margin-top: 10px;"
                                                            value="Cancel"/></a>
                        </div>
                        <div class="col-sm-4">
                            <a th:href="@{/myLuggages/__${luggage.id}__/luggageThingsCreator}"><input class="btn btn-primary btn-3d"
                                                            style="width: 100%; height: 40px; margin-top: 10px;"
                                                            value="Edit"/></a>
                        </div>
                        <div class="col-sm-4">
                            <a th:href="@{/myLuggages/__${luggage.id}__/generateLuggageExcelReport}"><input class="btn btn-success btn-3d"
                                                            style="width: 100%; height: 40px; margin-top: 10px;"
                                                            value="Generate .xls"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end: content -->

    <div th:include="menu/menu :: mobileMenu"></div>
</div>


<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="/resources/js/plugins/moment.min.js"></script>
<script src="/resources/js/plugins/jquery.nicescroll.js"></script>
<script src="/resources/js/plugins/jquery.datatables.min.js"></script>
<script src="/resources/js/plugins/datatables.bootstrap.min.js"></script>

<script src="/resources/js/main.js"></script>
<!-- custom -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable();
    });

</script>
<!-- end: Javascript -->
</body>
</html>