<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Home</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/plugins/select2.min.css"/>
    <link href="/resources/css/style.css" rel="stylesheet"/>
    <!-- end: Css -->

    <link rel="shortcut icon" href="/resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="mimin" class="dashboard boxed container padding-0">
<div th:include="menu/menu :: header"></div>
<div class="container-fluid mimin-wrapper bg-light-grey">
    <div th:include="menu/menu :: leftMenu"></div>

    <!-- start: content -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h3 class="animated fadeInLeft">Create luggage </h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 top-20 padding-0">
            <!--<div class="col-sm-3"></div>-->
            <!--<div class="col-sm-6">-->
            <!--<a th:href="@{/myLuggages/__${luggage.id}__}" ><span class="btn btn-success btn-3d" style="width:100%; height: 40px; margin-top: 10px;">FINISH!</span></a>-->
            <!--</div>-->
            <!--<div class="col-sm-3"></div>-->
            <div class="col-md-12 tabs-area">
                <ul id="tabs-demo6" class="nav nav-tabs nav-tabs-v6" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tabs-demo7-area1" role="tab" id="tabs-demo6-1" data-toggle="tab"
                           aria-expanded="true">My list</a>
                    </li>
                    <li role="presentation">
                        <a href="#tabs-demo7-area2" role="tab" id="tabs-demo6-2" data-toggle="tab"
                           aria-expanded="false">Activities</a>
                    </li>
                    <li role="presentation">
                        <a href="#tabs-demo7-area3" role="tab" id="tabs-demo6-3" data-toggle="tab"
                           aria-expanded="false">Season</a>
                    </li>
                    <li role="presentation">
                        <a href="#tabs-demo7-area4" role="tab" id="tabs-demo6-4" data-toggle="tab"
                           aria-expanded="false">Custom</a>
                    </li>
                    <li role="presentation">
                        <a href="#tabs-demo7-area5" role="tab" id="tabs-demo6-5" data-toggle="tab"
                           aria-expanded="false">Options</a>
                    </li>
                    <li>
                        <a th:href="@{/myLuggages/__${luggage.id}__}"
                           style="background-color: #27C24C !important; color: #FFF;">Finish</a>
                    </li>
                </ul>
                <div id="tabsDemo6Content" class="tab-content tab-content-v6 col-md-12">

                    <!--LIST-->
                    <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo7-area1"
                         aria-labelledby="tabs-demo7-area1">
                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="panel-heading text-center">
                                    <h3><p th:text="${luggage.name}"></p></h3>
                                </div>
                                <div class="col-sm-12">
                                    <div class="panel"></div>
                                    <form th:action="@{/myLuggages/__${luggage.id}__/editLuggage}"
                                          th:object="${luggage}"
                                          method="post" th:autocomplete="off"
                                          onsubmit="insertValue('things','quantity',true)">

                                        <input type="hidden" th:field="*{name}"/>
                                        <input type="hidden" th:field="*{id}"/>
                                        <input type="hidden" th:value="${luggage.category.name}" name="category"/>
                                        <input type="hidden" th:value="${luggage.type.name}" name="type"/>
                                        <input type="hidden" th:value="${luggage.travel.id}" name="travel"/>
                                        <div class="panel"></div>
                                        <table id="table" class="table table-striped table-bordered text-center"
                                               th:if="${luggage.things} != null">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><span class="fa fa-sort"></span> No</th>
                                                <th class="text-center"><span class="fa fa-sort"></span> Thing</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-center">Option</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="t: ${luggage.things}">
                                                <td class="no"></td>
                                                <td>
                                                    <input type="hidden" th:name="things" th:value="${t.thing.id}"/>
                                                    <span th:text="${t.thing.name}"></span>
                                                </td>
                                                <td style="width: 30%;">
                                                    <div style="margin: auto; width: 50%"
                                                         th:id="block+${t.thing.id}">
                                                        <div class="input-group">
                                                <span class="input-group-btn">
                                                <button type="button" style="padding: 6px !important;"
                                                        class="btn btn-danger btn-number"
                                                        data-type="minus"
                                                        th:attr="data-field=quantity+${t.thing.id}">
                                                <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                                </span>
                                                            <input type="text" th:id="quantity+${t.thing.id}"
                                                                   name="quantity"
                                                                   class="form-control input-number"
                                                                   th:value="${t.quantity}"
                                                                   min="1" max="99" style="text-align: center"/>
                                                            <span class="input-group-btn">
                                                <button type="button" style="padding: 6px !important;"
                                                        class="btn btn-success btn-number"
                                                        data-type="plus"
                                                        th:attr="data-field=quantity+${t.thing.id}">
                                                <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                                </span>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td style="width: 10%; font-size: large">
                                                    <a th:href="@{/myLuggages/__${luggage.id}__/deleteLuggageThing/__${t.thing.id}__}">
                                                        <span class="fa fa-trash"></span> </a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <input class="btn btn-primary btn-3d btn-login" type="submit"
                                               value="Submit quantity or name changes"
                                               style="width: 100%; height: 40px; margin-top: 10px;"/>
                                    </form>
                                </div>
                                <div class="panel"></div>
                            </div>
                        </div>
                    </div>

                    <!--ACTIVITIES-->
                    <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area2"
                         aria-labelledby="tabs-demo7-area2">
                        <form th:action="@{/myLuggages/__${luggage.id}__/addLuggageThings}" th:object="${luggage}"
                              method="post" th:autocomplete="off"
                              onsubmit="insertValue('things', 'activityQuantity',false)">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{name}"/>
                            <input type="hidden" th:value="${luggage.category.name}" name="category"/>
                            <input type="hidden" th:value="${luggage.type.name}" name="type"/>
                            <input type="hidden" th:value="${luggage.travel.id}" name="travel"/>
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                                aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                                helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu
                                banh
                                mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
                                aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>


                            <div class="panel-group" id="activityAccordion" role="tablist" aria-multiselectable="true">

                                <div class="panel panel-default" th:each="a : ${travelActivities}">
                                    <div class="panel-heading" role="tab" id="activityHeadingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#activityAccordion"
                                               th:href="@{'#'+${a.id}}" aria-expanded="true"
                                               aria-controls="collapseOne">
                                                <h4 th:text="${a.name}"></h4>
                                            </a>
                                        </h4>
                                    </div>
                                    <div th:id="${a.id}" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="activityHeadingOne">
                                        <div class="panel-body">
                                            <div class="form-group" id="activityCheckboxGroup">
                                                <div class="form-animate-checkbox" th:each="t : ${things}">
                                                    <span th:if="${a.id.equals(t.activity.id)}">
                                                    <div class="col-sm-6">
                                                        <div class="col-sm-6">
                                                            <label style="padding: 4%">
                                                                <input name="things" type="checkbox"
                                                                       class="checkbox"
                                                                       th:id="activityThing+${t.id}"
                                                                       th:text="${t.name}"
                                                                       th:value="${t.id}"
                                                                       th:onclick="'showQuantity(this, \'activityBlock' + ${t.id} + '\');'"
                                                                />
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-6" th:id="activityBlock+${t.id}"
                                                             style="display:none;">
                                                            <div class="input-group"
                                                                 style="width: 50%; vertical-align: middle;">
                                                          <span class="input-group-btn">
                                                              <button type="button" style="padding: 6px !important;"
                                                                      class="btn btn-danger btn-number"
                                                                      data-type="minus"
                                                                      th:attr="data-field=activityQuantity+${t.id}">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                              </button>
                                                          </span>
                                                                <input type="text" th:id="activityQuantity+${t.id}"
                                                                       name="activityQuantity"
                                                                       class="form-control input-number" value="1"
                                                                       min="1" max="99"
                                                                />
                                                          <span class="input-group-btn">
                                                              <button type="button" style="padding: 6px !important;"
                                                                      class="btn btn-success btn-number"
                                                                      data-type="plus"
                                                                      th:attr="data-field=activityQuantity+${t.id}">
                                                                  <span class="glyphicon glyphicon-plus"></span>
                                                              </button>
                                                          </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="btn btn-primary btn-3d" type="submit" id="activitySubmit"
                                   style="width: 95%; height: 40px; margin-top: 10px;"
                                   value="Submit"/>
                        </form>

                    </div>

                    <!--SEASON-->
                    <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area3"
                         aria-labelledby="tabs-demo7-area3">
                        <form th:action="@{/myLuggages/__${luggage.id}__/addLuggageThings}" th:object="${luggage}"
                              method="post" th:autocomplete="off"
                              onsubmit="insertValue('things', 'seasonQuantity',false)">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{name}"/>
                            <input type="hidden" th:value="${luggage.category.name}" name="category"/>
                            <input type="hidden" th:value="${luggage.type.name}" name="type"/>
                            <input type="hidden" th:value="${luggage.travel.id}" name="travel"/>
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                                aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                                helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu
                                banh.</p>


                            <div class="panel-group" id="seasonAccordion" role="tablist" aria-multiselectable="true">

                                <div class="panel panel-default" th:each="s : ${travel.season}">
                                    <div class="panel-heading" role="tab" id="seasonHeadingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#seasonAccordion"
                                               th:href="@{'#'+${s.id}}" aria-expanded="true"
                                               aria-controls="collapseOne">
                                                <h4 th:text="${s.name}"></h4>
                                            </a>
                                        </h4>
                                    </div>
                                    <div th:id="${s.id}" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="seasonHeadingOne">
                                        <div class="panel-body">
                                            <div class="form-group" id="seasonCheckboxGroup">
                                                <div class="form-animate-checkbox" th:each="t : ${things}">
                                                    <span th:if="${s.id.equals(t.season.id)}">
                                                    <div class="col-sm-6">
                                                        <div class="col-sm-6">
                                                            <label style="padding: 4%">
                                                                <input name="things" type="checkbox"
                                                                       class="checkbox"
                                                                       th:id="${t.id}"
                                                                       th:text="${t.name}"
                                                                       th:value="${t.id}"
                                                                       th:onclick="'showQuantity(this, \'seasonBlock' + ${t.id} + '\');'"
                                                                />
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-6" th:id="seasonBlock+${t.id}"
                                                             style="display:none;">
                                                            <div class="input-group"
                                                                 style="width: 50%; vertical-align: middle;">
                                                          <span class="input-group-btn">
                                                              <button type="button" style="padding: 6px !important;"
                                                                      class="btn btn-danger btn-number"
                                                                      data-type="minus"
                                                                      th:attr="data-field=seasonQuantity+${t.id}">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                              </button>
                                                          </span>
                                                                <input type="text" th:id="seasonQuantity+${t.id}"
                                                                       name="seasonQuantity"
                                                                       class="form-control input-number" value="1"
                                                                       min="1" max="99"
                                                                />
                                                          <span class="input-group-btn">
                                                              <button type="button" style="padding: 6px !important;"
                                                                      class="btn btn-success btn-number"
                                                                      data-type="plus"
                                                                      th:attr="data-field=seasonQuantity+${t.id}">
                                                                  <span class="glyphicon glyphicon-plus"></span>
                                                              </button>
                                                          </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="btn btn-primary btn-3d" type="submit" id="seasonSubmit"
                                   style="width: 95%; height: 40px; margin-top: 10px;"
                                   value="Submit"/>
                        </form>

                    </div>

                    <!--CUSTOM ITEM-->
                    <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area4"
                         aria-labelledby="tabs-demo7-area4">

                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="panel-heading text-center">
                                    <h3>Add custom item!</h3>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <form th:action="@{/myLuggages/__${luggage.id}__/addCustomThing}"
                                      th:object="${luggageThing}" method="post"
                                      th:autocomplete="off" onsubmit="insertQuantityForNewCustomItem()">
                                    <input type="hidden" th:id="hiddenCustomQuantity" th:field="*{quantity}"/>
                                    <table class="table table-striped">
                                        <div class="form-group">
                                            <tbody>
                                            <tr>
                                                <td style="width: 35%; padding-left: 5% !important;">
                                                    <h4>Name:</h4></td>
                                                <td style="width: 65%;">
                                                    <input style="width: 45%;" class="form-control primary"
                                                           th:field="*{thing.name}"
                                                           th:required="required"/></td>
                                            </tr>

                                            <tr>
                                                <td style="width: 35%; padding-left: 5% !important;">
                                                    <h4>Category:</h4></td>
                                                <td style="width: 65%">
                                                    <select style="width: 200px; margin: auto"
                                                            class="select2-A required"
                                                            th:field="*{thing.category}">
                                                        <p th:each="c : ${categories}">
                                                            <option th:value="${c.name}"
                                                                    th:text="${c.name}"></option>
                                                        </p>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 35%; padding-left: 5% !important;">
                                                    <h4>Activity category:</h4>
                                                </td>
                                                <td style="width: 65%;">
                                                    <select style="width: 200px" class="select2-A required"
                                                            th:field="*{thing.activity}">
                                                        <p th:each="a : ${activities}">
                                                            <option th:value="${a.name}"
                                                                    th:text="${a.name}"></option>
                                                        </p>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 35%; padding-left: 5% !important;"><h4>
                                                    Season:</h4>
                                                </td>
                                                <td style="width: 65%;">
                                                    <select style="width: 200px" class="select2-A required"
                                                            th:field="*{thing.season}">
                                                        <p th:each="s : ${seasons}">
                                                            <option th:value="${s.name}"
                                                                    th:text="${s.name}"></option>
                                                        </p>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 35%; padding-left: 5% !important;">
                                                    <h4>Quantity:</h4>
                                                </td>
                                                <td style="width: 65%;">
                                                    <div class="input-group"
                                                         style="width: 20%; vertical-align: middle;">
                                                                <span class="input-group-btn">
                                                                <button type="button" style="padding: 7px !important;"
                                                                        class="btn btn-danger btn-number"
                                                                        data-type="minus"
                                                                        th:attr="data-field=newCustomItemQuantity">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                                </span>
                                                        <input type="text" th:id="newCustomItemQuantity"
                                                               class="form-control input-number" value="1"
                                                               min="1" max="99" style="text-align: center"/>
                                                        <span class="input-group-btn">
                                                                    <button type="button"
                                                                            style="padding: 7px !important;"
                                                                            class="btn btn-success btn-number"
                                                                            data-type="plus"
                                                                            th:attr="data-field=newCustomItemQuantity">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                    </button>
                                                                    </span>
                                                    </div>


                                                </td>
                                            </tr>
                                            </tbody>

                                        </div>
                                    </table>
                                    <input class="btn btn-primary btn-3d" type="submit"
                                           style="width: 100%; height: 40px; margin-top: 10px;"
                                           value="Submit"/>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--OPTIONS-->
                    <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area5"
                         aria-labelledby="tabs-demo7-area5">
                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="panel-heading text-center">
                                    <h3>Change luggage!</h3>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <form th:action="@{/myLuggages/__${luggage.id}__/updateLuggage}"
                                      th:object="${luggage}" method="post" th:autocomplete="off">

                                    <table class="table table-striped">
                                        <div class="form-group">
                                            <tbody>

                                            <tr>
                                                <td style="width: 25%;padding-left: 5% !important;"><h4>Name:</h4></td>
                                                <td style="width: 75%;"><input class="form-control primary"
                                                                               th:field="*{name}" style="width: 45%"
                                                                               th:required="required"/></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 25%;padding-left: 5% !important;"><h4>Owner:</h4></td>
                                                <td style="padding-top: 3% !important; ">
                                                    <div class="form-group">
                                                        <div class="form-animate-radio">
                                                            <label class="radio" th:each="c : ${categories}">
                                                            <span th:unless="${c.name.equals('unisex')}">

                                                    <span th:unless="${luggage.category != null and c.id.equals(luggage.category.id)}">
                                                         <input type="radio" th:text="${c.name}"
                                                                th:value="${c.name}" th:name="category"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </span>
                                                    <span th:if="${luggage.category != null and c.id.equals(luggage.category.id)}">
                                                         <input type="radio" th:text="${c.name}"
                                                                th:value="${c.name}" th:name="category"
                                                                checked="checked"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </span>
                                                            </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 25%;padding-left: 5% !important;"><h4>Type:</h4></td>
                                                <td style="padding-top: 3% !important; ">
                                                    <div class="form-group">
                                                        <div class="form-animate-radio">
                                                            <label class="radio" th:each="t : ${types}">

                                                    <span th:unless="${luggage.type != null and t.id.equals(luggage.type.id)}">
                                                         <input type="radio" th:text="${t.name}"
                                                                th:value="${t.name}" th:name="type"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </span>
                                                       <span th:if="${luggage.type != null and t.id.equals(luggage.type.id)}">
                                                         <input type="radio" th:text="${t.name}"
                                                                th:value="${t.name}" th:name="type" checked="checked"/>
                                                        <span class="outer"><span class="inner"></span></span>
                                                    </span>

                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </div>
                                    </table>
                                    <input class="btn btn-primary btn-3d" type="submit"
                                           style="width: 100%; height: 40px; margin-top: 10px;"
                                           value="Submit"/>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- end: content -->
    <div th:include="menu/menu :: mobileMenu"></div>
</div>


<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="/resources/js/plugins/moment.min.js"></script>
<script src="/resources/js/plugins/jquery.nicescroll.js"></script>
<script src="/resources/js/plugins/jquery.datatables.min.js"></script>
<script src="/resources/js/plugins/datatables.bootstrap.min.js"></script>

<script src="/resources/js/plugins/select2.full.min.js"></script>
<script src="/resources/js/main.js"></script>
<!-- custom -->
<script type="text/javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        $('#table').DataTable();
        $(".select2-A").select2({
            placeholder: "Select item",
            allowClear: true
        });

    });
    function insertValue(things, quantity, checked) {
        var inputs = document.getElementsByName(things);
        for (var i = 0; i < inputs.length; ++i) {
            if (inputs[i].checked || checked == true) {
                var thingId = inputs[i].value;
                var q = document.getElementById(quantity + thingId).value;
                inputs[i].value = "thingId=" + thingId + ", quantity=" + q;
            }
        }
    }

    function insertQuantityForNewCustomItem() {
        var quantity = document.getElementById("newCustomItemQuantity").value;
        document.getElementById("hiddenCustomQuantity").value = quantity;
    }

    function insertQuantity() {
        var quantity = document.getElementById("newItemQuantity").value;
        document.getElementById("hiddenQuantity").value = quantity;
    }

    function showQuantity(checkbox, id) {
        if (checkbox.checked) {
            document.getElementById(id).style.display = "block";
            if (id.substring(0, 8) === "activity") {
                document.getElementById("seasonSubmit").disable = true;
            } else {
                document.getElementById("activitySubmit").disable = true;
            }
        } else {
            document.getElementById(id).style.display = "none";
            if (id.substring(0, 8) === "activity") {
                document.getElementById("seasonSubmit").disable = false;
            } else {
                document.getElementById("activitySubmit").disable = false;
            }
        }
    }


    $('.btn-number').click(function (e) {
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type = $(this).attr('data-type');
        var input = $("input[id='" + fieldName + "']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if (type == 'minus') {

                if (currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }
                if (parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if (type == 'plus') {

                if (currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if (parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function () {
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

        minValue = parseInt($(this).attr('min'));
        maxValue = parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());
        name = $(this).attr("id");
        if (valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if (valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }


    });
    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    var list = document.getElementsByClassName("no");
    for (var i = 0; list.length >= i; i++) {
        list[i].innerHTML = i + 1;
    }
    /*]]>*/
</script>
<!-- end: Javascript -->
</body>
</html>