<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>My luggage's</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="resources/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/plugins/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/plugins/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/plugins/fullcalendar.min.css"/>
    <link href="resources/css/style.css" rel="stylesheet"/>
    <!-- end: Css -->

    <link rel="shortcut icon" href="resources/img/logomi.png"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="mimin" class="dashboard boxed container padding-0">
<div th:include="menu/menu :: header"></div>
<div class="container-fluid mimin-wrapper bg-light-grey">
    <div th:include="menu/menu :: leftMenu"></div>
    <!-- start: content -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h3 class="animated fadeInLeft">My travels</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 top-20 padding-0">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading"><h3>My all travels</h3></div>
                    <div class="panel-body">
                        <div class="responsive-table">
                            <table id="table" class="table table-striped table-bordered text-center"
                                   width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="text-center"><span class="fa fa-sort"></span> No</th>
                                    <th class="text-center"><span class="fa fa-sort"></span> Name</th>
                                    <th class="text-center"><span class="fa fa-sort"></span> Travel</th>
                                    <th class="text-center"><span class="fa fa-sort"></span> Things quantity</th>
                                    <th class="text-center">Option</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="l: ${luggages}">
                                    <td class="no"></td>
                                    <td><a th:href="@{myLuggages/__${l.id}__}"
                                                             th:text="${l.name}"> </a></td>
                                    <td th:text="${l.travel.name}"></td>
                                    <td th:text="${l.thingsQuantity()}"></td>


                                    <td style="width: 15%; font-size: large">
                                        <a th:href="@{myLuggages/__${l.id}__/luggageThingsCreator}" >
                                            <span class="fa fa-edit" ></span>
                                        </a>
                                        <a th:href="@{myLuggages/__${l.id}__/deleteLuggage}">
                                            <span class="fa fa-trash" ></span> </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end: content -->

    <div th:include="menu/menu :: mobileMenu"></div>
</div>

<!-- start: Javascript -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/jquery.ui.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="/resources/js/plugins/moment.min.js"></script>
<script src="/resources/js/plugins/jquery.nicescroll.js"></script>
<script src="/resources/js/plugins/jquery.datatables.min.js"></script>
<script src="/resources/js/plugins/datatables.bootstrap.min.js"></script>

<script src="/resources/js/main.js"></script>
<!-- custom -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable();
    });

    var list = document.getElementsByClassName("no");
    for (var i = 0; list.length >= i; i++) {
      list[i].innerHTML = i + 1;
    }
</script>
<!-- end: Javascript -->
</body>
</html>